/*****************************************************
****************        GENERAL       ****************
*****************************************************/

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

html,
body {
    min-height: 100%;
}

html {
    background-color: #0b0b0b;
}

body {
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#home-body {
    background-image: url("/assets/images/cbus-small.jpg")
}

#about-body {
    background-image: url("/assets/images/farm-small.jpg");
}

#contact-body {
    background-image: url("/assets/images/mail-small.jpg");
}

#resume-body {
    background-image: url("/assets/images/bridge-small.jpg");
}

a {
    text-decoration: none;
    color: white;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.table-display {
    display: table;
}

.table-grid-display {
    display: table-cell;
    vertical-align: middle;
}
/*****************************************************
****************        HEADER        ****************
*****************************************************/
/***************        NAV BAR       ***************/

.nav-bar {
    height: 6em;
    background-color: #191919;
    text-align: center
}

.nav-bar h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 0 0 0 .25em;
    display: block;
}

.full-nav-links {
    list-style-type: none;
    display: none;
    float: right;
}

.full-nav-links li {
    font-size: 0;
    padding: .07em 0em;
    display: inline-block;
}

.full-nav-links a {
    font-size: 1.6rem;
    padding: 1.5px 10px;
}

.full-nav-links a:hover {
    background-color: white;
    -webkit-transition: background-color .7s;
    transition: background-color .7s;
    color: #191919;
    -webkit-transition: color .25s;
    transition: color .25s;
}

.selected {
    background-color: white;
    color: black;
}
/***************       BURGEX      ***************/

#plastic-tray {
    /*  Change the overall size of the hamburger with font-size*/
    
    display: inline-block;
    font-size: 1em;
    padding-top: .5em
}

.cool-burgex {
    width: 2em;
    height: 1.5em;
    display: inline-block;
    position: relative;
    /*  border: 1px solid red;
*/
}

.cool-burgex span {
    left: 0em;
    position: absolute;
    /*  Change the thickness of bars with border size*/
    
    border: 2px white solid;
    /*  Change the sharpness of bars with border-radius*/
    
    border-radius: 0px;
    width: 2em;
}

.bread {
    -webkit-transition: transform 1.25s, top 1.25s, left 1.25s;
    transition: transform 1.25s, top 1.25s, left 1.25s;
}

#foil-wrap {
    top: 0em;
    height: 2em;
    opacity: 0;
}

#top-bun {
    top: 0em;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

#meat {
    top: .65em;
}

#bottom-bun {
    top: 1.3em;
}
/***************       NAV PANEL      ***************/

.nav-panel {
    text-align: center;
    background-color: #191919;
    display: none;
}

.nav-panel a {
    font-size: 2em;
    color: #cccccc;
}

.nav-panel a:hover {
    font-size: 2em;
    color: white;
    -webkit-transition: color .35s;
    transition: color .35s;
}
/*****************************************************
****************    CENTER CONTENT    ****************
*****************************************************/

.top-center-div {
    background-size: 100% auto;
    height: 38em;
    text-align: center;
}

#filter-div {
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5) 10%, rgba(161, 156, 119, .8) 110%);
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5) 10%, rgba(161, 156, 119, .8) 110%);
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.5) 10%, rgba(161, 156, 119, .6) 110%);
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(161, 156, 119, .8) 100%);
    /*    background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(248, 248, 0, .6) 100%);*/
}

.top-center-div span {
    opacity: 0;
}

.text {
    font-size: 2.25em;
    font-weight: 700;
    color: white;
}

.tag {
    font-family: serif;
    font-style: italic;
    font-size: 1.5em;
    color: white;
}

.text,
.tag {
    text-shadow: 1px 2px black;
}

.button {
    display: inline-block;
    width: 5em;
    font-size: 2.5em;
    color: black;
    border: 5px solid black;
    margin: .2em;
    padding: .3em;
    border-radius: 1px;
}

.button:hover {
    opacity: .8;
    background-color: black;
    -webkit-transition: background-color .7s;
    transition: background-color .7s;
    color: white;
    -webkit-transition: color .5s;
    transition: color .5s;
}

.second-center-div {
    background-color: #191919;
}

#contact-body .second-center-div,
#home-body .second-center-div {
    padding: 2.5em 0;
}
.alt-second-div {
    background-color: #918C6B;
    border-top: 5px #484636 solid;
    border-bottom: 5px #484636 solid;
    padding: 2em 0 4em;
    margin: 2em 0;
}

.second-center-div h1 {
    text-align: center;
    color: white;
    font-size: 3.1em;
}

.second-center-container {
    text-align: center;
    padding: 0em 0;
}

#about-body .second-center-container {
    padding: 1em 0;
}

.second-center-div p {
    text-align: center;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    width: 70%;
    margin: auto;
    padding: 0;
}

.alt-second-div ul,
.alt-second-div h1,
.alt-second-div p{
    color: #191919;
    text-shadow: 0px 0px 8px #B2AE97;
}

.exp-div h1,
#skills-div h1 {
    font-size: 3em;
}

.exp-div {
    color: white;
    width: 90%;
    margin: auto;
}

#skills-div {
    color: white;
    width: 100%;
    margin: auto;
}

#skills-div div {
    line-height: 150%;
    text-align: left;
    width: 100%;
    margin: auto;
}

#skills-div ul {
    width: 80%;
    display: inline-block;
    padding-left: 2em;
    margin: auto;
}

.about-photos {
    width: 70%;
    margin: 1em auto;
    max-width: 650px;
}

#social-div {
    margin: 3em 0 2em;
}

#social-div * {
    margin: 0 .5em;
    opacity: .75;
}

#social-div *:hover {
    opacity: 1;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}
/***************      Form panel      ***************/

#form-panel {
    display: none;
    text-align: center;
    position: absolute;
    width: 80%;
    background-color: #191919;
    margin: 2em 10%;
    padding: 2em;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
    clear: both;
}

#form-panel span {
    color: white;
}

#form-panel img {
    float: right;
}

#form-panel br {
    display: block;
    margin: 3px 0;
    content: "";
}

#form-panel span {
    font-size: 2em;
    margin-right: .5em;
}

#form-panel .valid-message {
    font-size: 1em;
    color: whitesmoke;
    clear: both;
    opacity: 0;
}

#form-panel input {
    font-size: 1.75em;
    width: 100%;
}

#form-panel textarea {
    color: black;
    height: 7em;
    max-height: 7em;
    width: 100%;
    max-width: 100%;
}

#form-panel button {
    font-size: 1.5em;
    color: black;
}
/*****************************************************
****************        FOOTER        ****************
*****************************************************/

footer {
    background-color: #0b0b0b;
    text-align: center;
}

footer h1 {
    font-size: 2em;
    margin: 0;
    padding: 1em 0 0;
}

footer p {
    color: white;
    padding-bottom: 1em;
}
/*****************************************************
****************     MEDIA QUERIES    ****************
*****************************************************/

@media only screen and (min-width: 480px) {
    #home-body {
        background-image: url("/assets/images/cbus.jpg");
    }
    #about-body {
        background-image: url("/assets/images/farm.jpg");
    }
    #contact-body {
        background-image: url("/assets/images/mail.jpg");
    }
    #resume-body {
        background-image: url("/assets/images/bridge.jpg");
    }
    .top-center-div {
        height: 31em;
    }
    .nav-bar {
        height: 2.75em;
    text-align: left;

    }
    .nav-bar h1 {
        font-size: 2.25em;
        margin-left: .25em;
        text-align: left;
        display: inline-block;
    }
    #plastic-tray {
        float: right;
        padding: .625em .625em 0;;
    }
    .second-center-div p {
        font-size: 1.25em;
        font-weight: 700;
    }
    #skills-div div {
        list-style-position: inside;
        display: inline-block;
        width: 80%;
    }
    #form-panel input {
        font-size: 1.75em;
        width: 8em;
    }
    #form-panel textarea {
        width: 100%;
        max-width: 100%;
    }
    footer h1 {
        font-size: 2.3em;
        padding-top: .5em
    }
}

@media only screen and (min-width: 768px) {
    .nav-bar {
        height: 2em;
    }
    .nav-bar h1 {
        font-size: 1.75em;
        margin-left: 1em;
    }
    .full-nav-links {
        display: inline-block;
    }
    #plastic-tray {
        display: none;
    }
    .nav-panel {
        height: 0;
        margin: 0;
        padding: 0;
    }
    .nav-panel ul {
        visibility: hidden;
    }
    .second-center-div p {
        font-size: 1.5em;
        font-weight: 700;
        margin: 1em auto;
    }
    #skills-div div {
        width: 40%;
        margin: auto;
        vertical-align: top;
    }
    #skills-div ul {
        padding-left: 2em;
    }
    #form-panel textarea {
        width: 70%;
        max-width: 80%;
    }
    footer h1 {
        font-size: 2.5em;
    }
}

@media only screen and (min-width: 992px) {
    #form-panel {
        height: 28em;
    }
    .nav-bar {
        height: 2em;
    }
    .nav-bar h1 {
        font-size: 1.75em;
        margin-left: .5em;
        margin-bottom: 1em;
    }
    .about-photos {
        clear: both;
    }
    .about-div {
        display: inline-block;
        width: 35%;
        vertical-align: top;
    }
    .second-center-div p {
        font-size: 2em;
        font-weight: 900;
        line-height: 1.25em;
        width: 60%;
    }
    .exp-div {
        color: white;
        width: 70%;
        margin: auto;
    }
    #skills-div ul {
        padding-left: 4em;
    }
    #skills-div div {
        margin: 0 2em;
        width: 40%;
        margin: auto;
        vertical-align: top;
    }
    #about-body .second-center-div p {
        font-size: 1.25em;
        font-weight: 500;
        line-height: 1.25em;
        width: 90%;
    }
    #future-div {
        width: 70%;
    }
    #codepen-img {
        transition: opacity, 1s;
        height: 15em;
        margin: 2em;
        opacity: .5;
    }
    #codepen-img:hover {
        opacity: 1;
    }
}

@media only screen and (min-width: 1285px) {
    #skills-div div {
        width: 30%;
    }
    #skills-div ul {
        padding-left: 6em;
    }
}
/*
@media only screen and (max-width: 767px) and (orientation: portrait) {
    
    .nav-bar h1 {
        font-size: 2.25em;
        margin-left: .25em;
        text-align: left;
        display: inline-block;
    }
    
     .nav-bar img {
        float: right;
        height: 1.5em;
        padding: .625em;
        display: inline-block;
    }
}
*/